<h1>Mes posts sauvegardés</h1>
  <% @drafts.each do |post| %>
    <%= post.prompt %>
  <% end %>
<%= link_to "Générer un autre post", new_post_path %>
<%= link_to "Voir mon historique", posts_historique_path %>
