<nav class="breadcrumb infos-card">
    <ul>
        <li class="breadcrumb_active">Générateur de post &#10148</li>
        <li class="breadcrumb_inactive">Modification &#10148</li>
        <li class="breadcrumb_inactive">Publication</li>
    </ul>
</nav>

<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
