
<nav class="breadcrumb infos-card">
    <ul>
        <li class="breadcrumb_active">Générateur de post &#10148</li>
        <li class="breadcrumb_inactive">Modification &#10148</li>
        <li class="breadcrumb_inactive">Publication</li>
    </ul>
</nav>

<%# <div class="d-flex justify-content-center"> %>
  <div class="container infos-card rounded-4 p-5 d-flex flex-column align-items-center" data-controller="ia-generator">
    <h1>Votre prochaine publication Instagram</h1>
    <div class = "w-50 mt-4">
      <%= simple_form_for @post, html: { data: {action: "submit-> ia-generator#generate"}} do |f| %>
        <%= f.input :prompt, label: "Prompt", placeholder: 'Ecrivez quelque chose ici ', input_html: { data: { ia_generator_target: "prompt" } } %>
        <%= f.input :photos, as: :file, input_html: {multiple: true} %>
        <div class="text-center mt-4">
        <%= f.submit "Générer votre post", class:"button-valider mt-3"%>
        </div>
        <% end %>
      </div>
  </div>
<%# </div> %>
