
<nav class="breadcrumb infos-card">
    <ul>
        <li class="breadcrumb_active">Générateur de post &#10148</li>
        <li class="breadcrumb_inactive">Modification &#10148</li>
        <li class="breadcrumb_inactive">Publication</li>
    </ul>
</nav>

<h1>Générer un post</h1>
<div>

  <%= simple_form_for @post, html: { data: {controller: "ia-generator", ia_generator_target: "form"} } do |f| %>
    <%= f.input :prompt, label: "Prompt", placeholder: 'Ecrivez quelque chose ici', input_html: { data: {ia_generator_target: "prompt"}} %>
    <%= f.input :photos, as: :file, input_html: {multiple: true} %>
    <%= f.submit "Générer votre post", html: {data: {action: "submit->ia-generator#generate"}} %>
    <% end %>

</div>
