<h1>Ceci est une page passerelle</h1>
<h2>en attente de la création de la description de chatgpt</h2>

<h3> <%= @post %> </h3>

<h3> <%= @post.prompt %> </h3>

<h3> <%= @post.description %> </h3>


<%= link_to "Voir mon post", post_path(@post) %>
