<h1> Programmer votre prochain post Instagram</h1>
<div class = "w-50 mt-4">
      <%= simple_form_for @post, html: { data: {controller: "datepicker", datepicker_target: "calendar"} } do |f| %>
        <%= f.input  input_html: { data: {datepicker_target: "calendar"}} %>
        <div class="text-center mt-4">
        <%= f.submit "Générer votre post", class:"button-valider mt-3"%>
        </div>
        <% end %>
      </div>

<%= link_to %>
