<nav class="breadcrumb infos-card">
    <ul>
        <li class="breadcrumb_inactive">Générateur de post &#10148</li>
        <li class="breadcrumb_inactive">Modification &#10148</li>
        <li class="breadcrumb_active">Publication</li>
    </ul>
</nav>


<h1>Bravo, c'est publié !</h1>
<%= link_to "Générer un autre post !", new_post_path %>
