<nav class="breadcrumb infos-card">
    <ul>
        <li class="breadcrumb_inactive">Générateur de post</li>
        <li class="breadcrumb_active">Modification</li>
        <li class="breadcrumb_inactive">Publication</li>
    </ul>
</nav>
<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
