.formulaire {
  max-width: 50%;
  margin: 0, auto;
}

.enonce{
  max-width: 50%;
  margin:0, auto;
  text-align: center;
}


.body-form{
  display: flex;
  justify-content: center;

}

.form-text{
  display:flex;
  justify-content: center;
}


#post_description {
  height: 200px;
}

.form img {
  width: 180px;
}

// textarea {
//   height: 400px;}
