.form-text{
  display:flex;
  justify-content: center;
}


#post_description {
  height: 200px;
}

#modif-description {
  height:80px;
  font-size: 12px;
}

.form-new {
  font-size: 12px;
}

select {
  padding: 8px;
  width: 100%;
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
}

.form-photo{
  input {
  padding: 10px;
  width: 280px;
  font-size: 12px;
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
  }
}

::placeholder{
  font-size: 12px;
  font-style: italic;
}
