<%# <nav aria-label="Breadcrumb" class="breadcrumb infos-card">
    <ul>
        <li><a href="#">Générateur de post</a></li>
        <li><a href="#">Modification</a></li>
        <li><a href="#">Publication</a></li>
        <li><span aria-current="page">Product</span></li>
    </ul>
</nav> %>
